parameters:
    mediapart_login:    ~
    mediapart_password: ~
    mediapart_session_cookie_string: ~

    app_uri: ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
